{% extends 'base.html' %} {% load static %} 
{% block title %}About Us | {% endblock title %}
{% block css_files %}
<link rel="stylesheet" href="{% static 'website/css/about-us.css' %}" />

{% endblock css_files %} {% block content %}
<div class="about-us-banner"></div>

<div class="container pt-5 box">
  <h2 class="text-center">Who are we?</h2>
  <div class="border"></div>

  <div class="box-body">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni nemo
      tempore fuga facilis pariatur at repellendus maxime id assumenda, iusto
      sed reiciendis ea fugit quos provident cum nulla ex error tempora labore
      nisi possimus? Corrupti in provident, earum ratione adipisci est
      voluptatibus iure amet ullam dolorum totam aut exercitationem animi?
    </p>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni nemo
      tempore fuga facilis pariatur at repellendus maxime id assumenda, iusto
      sed reiciendis ea fugit quos provident cum nulla ex error tempora labore
      nisi possimus? Corrupti in provident, earum ratione adipisci est
      voluptatibus iure amet ullam dolorum totam aut exercitationem animi?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni nemo
      tempore fuga facilis pariatur at repellendus maxime id assumenda, iusto
      sed reiciendis ea fugit quos provident cum nulla ex error tempora labore
      nisi possimus? Corrupti in provident, earum ratione adipisci est
      voluptatibus iure amet ullam dolorum totam aut exercitationem animi?
    </p>
  </div>
</div>

<div class="container pt-5 box">
  <h2 class="text-center">MISSION</h2>
  <div class="border"></div>

  <div class="box-body">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni nemo
      tempore fuga facilis pariatur at repellendus maxime id assumenda, iusto
      sed reiciendis ea fugit quos provident cum nulla ex error tempora labore
      nisi possimus? Corrupti in provident, earum ratione adipisci est
      voluptatibus iure amet ullam dolorum totam aut exercitationem animi?
    </p>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni nemo
      tempore fuga facilis pariatur at repellendus maxime id assumenda, iusto
      sed reiciendis ea fugit quos provident cum nulla ex error tempora labore
      nisi possimus? Corrupti in provident, earum ratione adipisci est
      voluptatibus iure amet ullam dolorum totam aut exercitationem animi?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni nemo
      tempore fuga facilis pariatur at repellendus maxime id assumenda, iusto
      sed reiciendis ea fugit quos provident cum nulla ex error tempora labore
      nisi possimus? Corrupti in provident, earum ratione adipisci est
      voluptatibus iure amet ullam dolorum totam aut exercitationem animi?
    </p>
  </div>
</div>

{% endblock content %}
