{% extends 'base.html' %} 

{% block title %}Contact Us | {% endblock title %}
{% load static %} {% block css_files %}
<link rel="stylesheet" href="{% static 'website/css/contact-us.css' %}" />
{% endblock css_files %} {% block content %}

<section class="contact-us-section">
  <div class="contact-us-banner"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="wrapper">
          <div class="row no-gutters">
            <div class="col-md-6 d-flex align-items-stretch">
              <div class="info-wrap w-100 p-lg-5 p-4">
                <h3 class="mb-4 mt-md-4">Contact us</h3>
                <div class="dbox w-100 d-flex align-items-center">
                  <div
                    class="
                      icon
                      d-flex
                      align-items-center
                      justify-content-center
                    "
                  >
                    <span class="fa fa-map-marker"></span>
                  </div>
                  <div class="text pl-3">
                    <p>
                      <span>Address:</span> Mughalsarai, U.P.
                    </p>
                  </div>
                </div>
                <div class="dbox w-100 d-flex align-items-center">
                  <div
                    class="
                      icon
                      d-flex
                      align-items-center
                      justify-content-center
                    "
                  >
                    <span class="fa fa-phone"></span>
                  </div>
                  <div class="text pl-3">
                    <p>
                      <span>Phone:</span>
                      <a href="tel://1234567920"> (+91) XXXXXXXXXX</a>
                    </p>
                  </div>
                </div>
                <div class="dbox w-100 d-flex align-items-center">
                  <div
                    class="
                      icon
                      d-flex
                      align-items-center
                      justify-content-center
                    "
                  >
                    <span class="fa fa-paper-plane"></span>
                  </div>
                  <div class="text pl-3">
                    <p>
                      <span>Email:</span>
                      <a href="mailto:info@yoursite.com"
                        >info@knowledgedunia.com</a
                      >
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-5">
              <div class="contact-wrap w-100 p-md-5 p-4">
                <h3 class="mb-4">Get in touch</h3>

                <form method="POST" id="contactForm" name="contactForm">
                  {% csrf_token %}
                  <div class="row">
                    {% for field in form %}
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="id_{{field.name}}">{{field.label}}</label>
                        {{field}} {{field.errors}}
                      </div>
                    </div>
                    {% endfor %}
                  </div>

                  <button type="submit" class="btn btn-primary">
                    Send Message
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
