{% extends 'base.html' %}
{% load static %}

{% block title %}Change Password{% endblock title %}


{% block css_files %}
    <link rel="stylesheet" href="{% static 'website/css/form.css' %}" />
    
{% endblock css_files %}

{% block content %}

<div class="container margin">
  <div class="card bg-light" style="width: 75%">
    <article class="card-body mx-auto" style="width: 75%">
      <h3 class="text-center mt-3 mb-5">Change Password</h3>
        

      <!-- Form -->
      <form method="POST">
        
        {% csrf_token %} 
        
        <div class="form-group input-group">
          {{ form.old_password }}
        </div>
        {% if form.old_password.errors %}{{ form.old_password.errors }}{% endif %}

        <div class="form-group input-group">
          {{ form.new_password1 }}
        </div>

        <div class="form-group input-group">
          {{ form.new_password2 }}
        </div>
        
        {% if form.new_password2.errors %}{{ form.new_password2.errors }}{% endif %}

        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block">
            Change Password
          </button>
        </div>

      
      </form>
    </article>
  </div>
  <!-- card.// -->
</div>

<script>
  let inputs = document.getElementsByTagName("input");
  inputs[1].placeholder = "Enter your Old Password"
  inputs[2].placeholder = "Enter New Password"
  inputs[3].placeholder = "Confirm New Password"


  {% if form.errors %}
    inputs[1].classList.add("form-control", "alert-danger");
    inputs[2].classList.add("form-control", "alert-danger");
    inputs[3].classList.add("form-control", "alert-danger");
  {% else %}
    inputs[1].classList.add("form-control");
    inputs[2].classList.add("form-control");
    inputs[3].classList.add("form-control");

  {% endif %}
</script>

{% endblock content %}