{% extends 'base.html' %}
{% load static %}

{% block title %}Enter new password{% endblock title %}


{% block css_files %}
  <link rel="stylesheet" href="{% static 'website/css/form.css' %}" />
  <style>
    footer {
      position: absolute;
    }
  </style>
{% endblock css_files %}

{% block content %}

<div class="container margin">
  <div class="card bg-light" style="width: 75%">
    <article class="card-body mx-auto" style="width: 75%">
      <h3 class="text-center">Reset Password</h3>
        <p class="my-3">
          Enter your new password.
        </p>

      <!-- Form -->
      <form method="POST">
        
        {% csrf_token %} 
        
        <div class="form-group input-group">
          {{ form.new_password1 }}
        </div>

        <div class="form-group input-group">
          {{ form.new_password2 }}
        </div>
        
        {% if form.new_password2.errors %}{{ form.new_password2.errors }}{% endif %}

        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block">
            Reset Password
          </button>
        </div>

      
      </form>
    </article>
  </div>
  <!-- card.// -->
</div>

<script>
  let inputs = document.getElementsByTagName("input");
  inputs[1].placeholder = "New Password"
  inputs[2].placeholder = "Confirm New Password"


  {% if form.errors %}
    inputs[1].classList.add("form-control", "alert-danger");
    inputs[2].classList.add("form-control", "alert-danger");
  {% else %}
    inputs[1].classList.add("form-control");
    inputs[2].classList.add("form-control");

  {% endif %}
</script>

{% endblock content %}