{% extends 'base.html' %}

{% block title %}Password Reset Email Sent{% endblock title %}

{% block css_files %}
  <style>
    footer {
      position: absolute;
    }
  </style>
{% endblock css_files %}

{% block content %}

<div class="container margin">
  <div class="text-center mt-5">
    <h1 class="pt-5">Check your inbox.</h1>
    <p class="mt-3">We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.<br>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>

  </div>
</div>
<br>
<div class="container text-center box">
<strong><p>Didn't receive mail?</p></strong>
<div id="countdown"></div>
</div>


{% endblock content %}

{% block script_files %}
<script>
  var time_left = 60;
  var reset = setInterval(function(){
    if(time_left <= 0){
      clearInterval(reset);
      document.getElementById("countdown").innerHTML = "<a class=\"btn btn-primary\" href=\"{% url 'password_reset' %}\">Resend Mail</a>";
    } 
    else if(time_left < 10) {
      document.getElementById("countdown").innerHTML = "00:0" + time_left;
    }
    else {
      document.getElementById("countdown").innerHTML = "00:" + time_left;
    }
    time_left -= 1;
  }, 1000);
</script>

{% endblock script_files %}