li {
  list-style: none;
  display: inline-block;
}

.filter {
  height: 100%;
  border-radius: 1rem;
  padding-top: 1rem;
  margin-bottom: 13px;
  margin-left: -3rem;
  background-color: white;
  filter: drop-shadow(10px 10px 8px #ccc);
}

.filter>form>div>div {
  /* border: 1px outset; */
  filter: drop-shadow(10px 10px 8px #ccc);
  /* box-shadow: inset 2px 2px 2px 2px #ccc; */
}

.checkbox {
  padding-left: 0.5rem;
}

.college-info {
  color: black;
  background-color: white;
  border-radius: 1rem;
  filter: drop-shadow(10px 10px 8px #ccc);
  padding: 1rem;
  margin: 0rem -5rem 1rem 0.5rem;
}

.college-info:hover {
  transform: translate(2px, 2px);
  filter: drop-shadow(8px 8px 8px aquamarine);
}

.college-logo {
  margin-right: 3rem;
}

.college-logo > img {
  width: 150px;
  height: 150px;
}
