li {
  list-style: none;
  display: inline-block;
}

#content-wrap > .container-fluid.padding {
  height: 100%;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 10rem;
}

.college-info {
  padding-top: 3rem;
}

.college-logo {
  padding-right: 5rem;
}

.college-logo > img {
  width: 150px;
  height: 150px;
}

@media (max-width: 768px) {
  .college-info {
    padding-top: 1rem;
  }

  #content-wrap > .container-fluid.padding {
    padding-bottom: 0;
  }
  .college-logo {
    padding-bottom: 2rem;
    text-align: center;
  }
  .college-logo > img {
    margin: auto;
  }
}

.collegeDetailsLink {
  background-color: aquamarine;
  font-weight: 700;
}
.collegeDetailsLink li {
  padding: 1rem 4rem;
  display: inline-block;
  text-decoration: none;
}

.collegeDetailsLink a {
  color: black;
}

.collegeDetailsLink .active a {
  color: white;
}

@media (max-width: 1000px) {
  .collegeDetailsLink li {
    padding: 1rem 2rem;
  }
}

@media (max-width: 700px) {
  .collegeDetailsLink li {
    padding: 1rem 0.5rem;
  }
}

.collegeDetailsLink li:hover,
li.active {
  color: white;
  background-color: #202040;
  cursor: pointer;
  transition: 0.5s ease-in;
}

.border {
  width: 100%;
  height: 5px;
  background-color: aquamarine;
  margin-bottom: 2rem;
}
.box {
  filter: drop-shadow(10px 10px 8px #ccc);
  border-radius: 1rem;
  background-color: white;
  padding: 1rem;
  margin: 2rem auto;
}

.facility-icons {
  background-image: url("../images/facilities.png");
  background-repeat: no-repeat;
  margin: auto;
}

.atm {
  width: 40px;
  height: 40px;
  background-position: -10px -10px;
}

.canteen {
  width: 40px;
  height: 40px;
  background-position: -10px -62px;
}

.clinic {
  width: 40px;
  height: 40px;
  background-position: -62px -62px;
}

.computer-lab {
  width: 40px;
  height: 40px;
  background-position: -114px -62px;
}

.gym {
  width: 40px;
  height: 40px;
  background-position: -10px -114px;
}

.hostel {
  width: 40px;
  height: 40px;
  background-position: -62px -114px;
}

.labs {
  width: 40px;
  height: 40px;
  background-position: -114px -114px;
}

.library {
  width: 40px;
  height: 40px;
  background-position: -62px -10px;
}

.playing-ground {
  width: 40px;
  height: 40px;
  background-position: -166px -10px;
}

.transport {
  width: 40px;
  height: 40px;
  background-position: -114px -10px;
}

.review-data > h3 {
  float: left;
  margin: 0;
}
.review-data > h5 {
  float: right;
}

.review-data > div {
  clear: both;
  font-size: 12px;
  margin-bottom: 1rem;
  opacity: 0.6;
  font-weight: 500;
}

.gray {
  color: gray;
}
.orange {
  color: orange;
}

.page-link {
  z-index: 0 !important;
}
