.college-compare-data {
  background-color: white;
  border-radius: 1rem;
  filter: drop-shadow(2px 4px 6px #ccc);
}

.table-responsive {
  margin-top: 1px;
}

.college-compare-data-table {
  margin-bottom: 0;
  border-top: 0;
}

.college-compare-data-table td {
  width: 20%;
  height: 15rem;
  border-right: 1px solid #ccc;
}

.college-compare-data-table td:last-child {
  border-right: 0;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.college-compare-data .col {
  border-right: 1px solid #ccc;
}

.col:last-child {
  border-right: 0;
}

.coll-search > button {
  position: absolute;
  top: 6rem;
  width: 18%;
}

.coll-search .close {
  position: relative;
  top: -3.5rem;
}

.heading {
  text-align: center;
  font-weight: 700;
  font-size: 1.2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #ccc;
}

.container .row {
  border-bottom: 1px solid #ccc;
}

.container .row:last-child {
  border-bottom: 0;
}

.college-compare-data .row > .col {
  padding: 0.5rem 0.5rem;
}

.parameters {
  font-size: 1rem;
  font-weight: 600;
}

#autocomplete {
  padding: 0;
}
#autocomplete li {
  list-style-type: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

#autocomplete a {
  color: black;
  width: 100%;
  text-align: left;
}

#autocomplete li:hover {
  background-color: #ccc;
}

#add_college .modal-body > .row {
  display: block;
  margin: auto;
}

span.stars,
span.stars span {
  display: block;
  background: url("../images/star-o-white.svg") 0 0 repeat-x;
  width: 150px; /* width of a star multiplied by 5 */
  height: 30px; /* the height of the star */
  background-size: 30px 30px;
}

span.stars span {
  background-position: 0 0;
  background-image: url("../images/star.svg");
}


footer {
  margin-top: 2rem;
}