.filter {
  height: 100%;
  border-radius: 1rem;
  padding-top: 1rem;
  margin-bottom: 13px;
  margin-left: -3rem;
  background-color: white;
  filter: drop-shadow(10px 10px 8px #ccc);
}

.filter > form > div > div {
  filter: drop-shadow(10px 10px 8px #ccc);
}

.checkbox {
  padding-left: 0.5rem;
}

.exam-info {
  color: black;
  background-color: white;
  border-radius: 1rem;
  filter: drop-shadow(10px 10px 8px #ccc);
  margin: 0rem -5rem 1rem 0.5rem;
}

.exam-info:hover {
  transform: translate(2px, 2px);
  filter: drop-shadow(8px 8px 8px aquamarine);
}

.exam-details {
  padding: 0;
}

.exam-details h3 {
  background-color: #202040;
  color: white;
  padding: 1rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.application-date img,
.exam-date img {
  width: 48px;
  height: 48px;
}

.important-dates h6 {
  margin: 3px 0 8px;
  font-weight: normal;
}

.important-dates p{
    margin: 0;
    line-height: 1.3;
    font-weight: 700;
}

