.error-message .alert {
  margin-bottom: -8rem;
}

@media only screen and (min-width: 600px) {
  .card {
    width: 75%;
  }
}
.card {
  margin: 10rem auto;
  border-radius: 2rem;
  filter: drop-shadow(10px 10px 8px aquamarine);
  z-index: 0;
}

.divider-text {
  position: relative;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.divider-text span {
  padding: 7px;
  font-size: 12px;
  position: relative;
  z-index: 2;
}
.divider-text:after {
  content: "";
  position: absolute;
  width: 100%;
  border-bottom: 1px solid #ddd;
  top: 55%;
  left: 0;
  z-index: 1;
}

.btn-facebook {
  background-color: #405d9d;
  color: #fff;
}
.btn-facebook:hover {
  background-color: #4162aa;
  color: #fff;
  font-weight: 700;
}

.btn-google {
  background-color: #db4a39;
  color: #fff;
}
.btn-google:hover {
  background-color: #e25040;
  color: #fff;
  font-weight: 700;
}

.errorlist li {
  color: red;
}

/* .error input {
  background-color: #ffb3b3
} */
